
@{
    ViewData["Title"] = "Index";
}

<h1>Menu</h1>
<div>
    <h3>Mains:</h3>
    <h3>Entrees:</h3>
    <h3>Wines:</h3>
    <h3>Beers:</h3>
    <h3>Spirits:</h3>

    <div>
        <h3>Set Menus:</h3>
        <p>
            <h4><u>Table For 2 Set Menu</u></h4>
            WAGYU BEEF JERKY<br />
            KING PRAWN SALAD: Avocado, coconut, roasted chilli dressing<br />
            SCALLOP: Roasted, smoked speck, chestnut salad, buttermilk dressing<br />
            CAPE GRIM SHORT RIB: Braised, gremolata, celeriac, jus gras<br />
            SIDES: Cos lettuce salad, French dressing & Potato desiree puree<br />
            TIRAMISU: Mascarpone, crispy brown butter<br />
        </p>
    </div>
</div>
